<nav class="navbar">
    <a href="/" class="logo">
        <img src="assets/images/logo_pequeño.png" alt="Textify" class="logo-img">
        Textify
    </a>
    <button class="menu-icon" (click)="toggleMenu()"> 
        <img src="assets/images/menu-icon.svg" alt="Menú">
    </button>
    <div class="nav-links" [ngClass]="{'open': isMenuOpen}">
        <a href="/login">Iniciar sesión</a>
        <a href="/registro">Crear cuenta</a>
        <a href="/privacidad">Privacidad</a>
        <a href="/sobreNosotros">Sobre nosotros</a>
    </div>
</nav>
