<nav class="navbar">
    <a href="/" class="logo">
        <img src="assets/images/logo_pequeño.png" alt="Textify" class="logo-img">
        Textify
    </a>
    <button class="menu-icon" (click)="toggleMenu()"> 
        <img src="assets/images/menu-icon.svg" alt="Menú">
    </button>
    <div class="nav-links" [ngClass]="{'open': isMenuOpen}">
        <ng-container *ngIf="isLogged; else guestLinks">
            <a href="/chat" target="_blank">Chat</a>
            <a (click)="cerrarSesion()">Cerrar sesión</a>
            <a href="/privacidad">Privacidad</a>
            <a href="/sobreNosotros">Sobre nosotros</a>
          </ng-container>
          <ng-template #guestLinks>
            <a href="/login">Iniciar sesión</a>
            <a href="/registro">Crear cuenta</a>
            <a href="/privacidad">Privacidad</a>
            <a href="/sobreNosotros">Sobre nosotros</a>
          </ng-template>
    </div>
</nav>
