/* ====== ESTILOS PARA LA CONVERSACIÓN ====== */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  scrollbar-width: none;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #ffffff00;
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 20%;
  scrollbar-width: hidden;
}
.fondo{
  background-color: #353b3628;
  position: absolute;
  z-index: 2 ;
  height: 100%;
  width: 100%;
  
}
/* Encabezado de la conversación */
.chat-header {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background: linear-gradient(90deg, #2E7D32, #1B5E20);
  color: rgb(255, 255, 255);
  text-align: center;
  scrollbar-width: none;
  position: relative; /* Añade esta línea */
  z-index: 6; /* Asegúrate de que el encabezado esté por encima de la imagen de fondo */
}

/* Área de mensajes */
.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative; /* Añade esta línea */
  background-image: url("/assets/images/fondo.jpg");
  background-size: contain;
  scrollbar-width: none;
  background-repeat: repeat;
}

.fondoChat {
  position: absolute;

  top: 0;
  left: 0;
  background-size: contain;
  background-position: center;
  background-repeat: repeat; /* Añade esta línea para repetir la imagen */
  scrollbar-width: none;
  z-index: -2;
}

/* Mensajes en el chat */
.message {
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 60%;
  z-index: 6; /* Asegúrate de que los mensajes estén por encima de la imagen de fondo */
  scrollbar-width: none;
}

/* Mensajes recibidos (izquierda) */
.received {
  background: #e5e5ea;
  align-self: flex-start;
}

/* Mensajes enviados (derecha) */
.sent {
  background: #1B5E20;
  color: white;
  align-self: flex-end;
}

/* Área de entrada de mensajes */
.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #f0f2f5;
  z-index: 6;
}

/* Campo de texto */
.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}

/* Botón de envío */
.chat-input button {
  background: #1B5E20;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 0.3s;
}

/* Efecto hover */
.chat-input button:hover {
  background: #29702e;
}