
    <app-header></app-header>
    <div style="height: 100px;"></div>
    <form action="http://192.168.3.180:8000/api/v1/login/" method="POST">
        <div class="imgcontainer">
            <div class="container">
                <h1>Inicio de Sesión</h1>
                <p>Por favor complete este formulario para iniciar Sesión.</p>
                <hr>
                
                <label for="username"><b>Nombre de usuario:</b></label>
                <input type="username" placeholder="Nombre de usuario" name="username" id="username" required>
                
                <label for="psw"><b>Contraseña</b></label>
                <input type="password" placeholder="Contraseña" name="password" id="password" required>

                <hr>
                <p>Al iniciar sesion, aceptas nuestros <a href="/privacidad">Términos y Privacidad </a>.</p>
                
                <button type="submit" class="registerbtn">Iniciar Sesión</button>
            </div>
        </div>
            
    </form>

