
<app-header></app-header>
  <!-- Sección Hero -->
  <section class="hero">
    <h2>Sobre Nosotros</h2>
    <p>Transformamos la manera en que conviertes y trabajas con texto en tus experiencias digitales.</p>
  </section>

  <!-- Contenido principal -->
  <main>
    <div class="about-container">
      <h2>Nuestra Historia</h2>
      <p>
        Textify nació de la pasión por la tecnología y la comunicación. Nuestro equipo se dio cuenta
        de la creciente necesidad de transformar el texto en diferentes formatos y lenguajes para
        hacer la información más accesible. Desde entonces, hemos desarrollado soluciones que
        facilitan el procesamiento y la interpretación de texto en múltiples contextos.
      </p>

      <h2>Nuestra Misión</h2>
      <p>
        Simplificar el mundo del texto digital con herramientas innovadoras que permitan a las
        personas y organizaciones comunicarse de manera más eficiente. Queremos cerrar la brecha
        entre la información y las personas, haciéndola accesible a todos.
      </p>

      <h2>Nuestro Equipo</h2>
      <div class="team">
        <div class="team-member">
          <img src="assets/images/fotoJavi.png" alt="Miembro del equipo">
          <h4>Javier Rodríguez</h4>
          <p>CEO y Fundador</p>
        </div>
        <div class="team-member">
          <img src="https://via.placeholder.com/80" alt="Miembro del equipo">
          <h4>Iván Prats</h4>
          <p>Directora de Tecnología</p>
        </div>
        <div class="team-member">
          <img src="assets/images/fotoIgnacio.jpeg" alt="Miembro del equipo">
          <h4>Ignacio Delgado</h4>
          <p>Ingeniero de Software</p>
        </div>
        <div class="team-member">
          <img src="assets/images/fotonDeSebas.png" alt="Miembro del equipo">
          <h4>Sebastian Manrrique</h4>
          <p>No Sebas</p>
        </div>
        <div class="team-member">
            <img src="https://via.placeholder.com/80" alt="Miembro del equipo">
            <h4>Ahmed Ighirri</h4>
            <p>Diseñadora UX/UI</p>
          </div>
      </div>
    </div>
  </main>


<app-footer></app-footer>