<div class="chat-list">
    <div class="chat-item">
        <img src="user1.jpg" alt="User 1">
        <div class="chat-info">
            <h4>Juan Pérez</h4>
            <br>
        </div>
    </div>
    <div class="chat-item">
        <img src="user2.jpg" alt="User 2">
        <div class="chat-info">
            <h4>María López</h4>
            <br>
        </div>
    </div>
    <label class="switch">
        <input type="checkbox" id="ToggleswitchId" (change)="clickCheckbox($event)">
        <span class="slider round"></span>
    </label>

</div>